@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get Movie</h1>

<div class="row mb-3">
    <div class="col-8">
        <input type="text" class="form-control" id="movie" name="Title" autocomplete="on">
    </div>
    <div class="col-4">
        <button type="submit" id="get-movie" class="btn btn-primary">Get Movie</button>
    </div>
</div>

<h2 class="mt-3">Movies</h2>
<hr />
<div id="movies" class="mt-2 row">
</div>

@section Scripts {
    <script>
        document.querySelector("#get-movie").onclick = () => {
            const input = document.querySelector("#movie");
            if (input.value) {
                console.log("button clicked");
                $.ajax({
                    url: "@Url.Action("Search")",
                    data: {
                        Title: input.value
                    },
                    success: (res) => {
                        console.log(res);
                        handleSuccess(res);
                    },
                    error: (err) => {
                        console.log("Error occured");
                        console.log(err);
                    }
                })
            }
        }

        function pad(num) {
            return (num >= 10 ? '' : '0') + num;
        }

        const handleSuccess = (results) => {
            document.querySelector("#movies").innerHTML = "";

            results.forEach(res => {
                const releaseDate = new Date(res.releaseDate);
                const htmlTemplate = `<dl class="row">
                        <dt class = "col-sm-4">
                            Title
                        </dt>
                        <dd class = "col-sm-6">
                            ${res.title}
                        </dd>
                        <dt class = "col-sm-4">
                            Release Date
                        </dt>
                        <dd class = "col-sm-6">
                            ${releaseDate.getDate() + "-" + (pad(releaseDate.getMonth() + 1)) + "-" + releaseDate.getFullYear()}
                        </dd>
                        <dt class = "col-sm-4">
                            Genre
                        </dt>
                        <dd class = "col-sm-6">
                            ${res.genre}
                        </dd>
                    </dl>`
                $("#movies").append($.parseHTML(htmlTemplate));
            });
        }
    </script>
}
